* {
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.header {
    color: white;
    background-color: #1f2937;
}

.logo {
    font-size: 18px;
    font-weight: 900;
}

ul {
    display: flex;
    gap: 16px;
}

ul li {
    list-style-type: none;
}

ul li a {
    color: white;
    text-decoration: none;
}

.bottom-header {
    display: flex;
    justify-content: center;
    align-items: center;  
}


img {
    max-width: 250px;
    max-height: 200px;
}

.first-text {
    font-size: 48px;
    font-weight: 900;
}

.second-text {
    font-size: 18px;
}

.signup {
    background-color: #3882f6;
    color: white;
    padding: 6px 24px;
    border-radius: 12px;
}
